.archive {
  padding: 20px 0;

  .archive-title {
    margin: 0;
    font-size: 22px;
    font-weight: 400;
  }

  .archive-section {
    .archive-year {
      margin: 5px 0;
      color: #333;
      font-size: 22px;
      font-family: "Libre Franklin", Georgia, serif;
    }

    .archive-list {
      margin: 0;
      padding-left: 20px;
      list-style: none;

      .archive-item {
        line-height: 1.8;
      }

      .article-date {
        display: inline-block;
        margin-right: 10px;
        color: #666;
      }

      .article-link {
        &:hover {
          color: #f75357;
          text-decoration: underline;
        }
      }
    }
  }
}
