*, :after, :before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  color: #333;
  line-height: 1.5;
  background: #fff;
  font-family: PingFang SC, Microsoft YaHei, STHeiti, WenQuanYi Micro Hei, sans-serif;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #333;
  text-decoration: none;
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400;
  src: local('Libre Franklin'),
       local('LibreFranklin-Regular'),
       url('../fonts/LibreFranklin/LibreFranklin.woff2') format('woff2');
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 700;
  src: local('Libre Franklin Bold'),
       local('LibreFranklin-Bold'),
       url('../fonts/LibreFranklin/LibreFranklin-Bold.woff2') format('woff2');
}

.clearfix {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 20px;
  position: relative;

  @extend .clearfix
}

.main {
  width: calc(100% - 320px);
  display: inline-block;
  position: relative;
}

@media (max-width: 970px) {
  .main {
    width: 100%;
    box-shadow: none;
  }
}

.sidebar {
  float: right;
  width: 280px;
  padding: 20px 0;
}

@media (max-width: 960px) {
  .sidebar {
    width: 100%;
    margin-top: 15px;
    padding: 15px 0 0;
    border-top: 1px dashed #ddd;
  }
}
