.footer {
  margin-top: 10px;
  padding: 20px 0;
  font-size: 14px;
  background: #f1f1f1;

  // .copyright {
    // float: left;
    // margin: 0;
  // }

  // .power-by {
    // float: right;
    // margin: 0;
  // }
  p {
    margin: 0;
  }

  a {
    color: #f75357;

    &:hover {
      color: darken(#f75357, 20%);
    }
  }
}

@media (max-width: 970px) {
  .footer {
    text-align: center;

    .copyright,
    .power-by {
      float: none;
    }
  }
}
