.paginator {
  text-align: center;
  font-family: "Libre Franklin", Georgia, serif;

  .page-number {
    display: inline-block;
    margin: 5px;
    color: #666;
    font-size: 20px;

    &:hover {
      color: #f75357;
    }

    &.current {
      font-size: 28px;
      color: #333;

      &:hover {
        color: #333;
      }
    }
  }

  .extend {
    margin: 5px;
    font-size: 28px;

    &:hover {
      color: #f75357;
    }
  }
}
