.widget {
  background: #fff;
  margin-bottom: 20px;

 .widget-title {
   padding: 5px 0;
   margin: 0 15px;
   position: relative;
   display: inline-block;
   font-size: 16px;
   font-weight: 600;
   font-family: PingFang SC, Microsoft YaHei, STHeiti, sans-serif;
   color: #444;
   text-transform: uppercase;

   &::after {
     display: inline-block;
     height: 1px;
     width: 100%;
     content: "";
     border-top: 2px solid #f75357;
     position: absolute;
     left: 0px;
     bottom: 0px;
   }
 }
}

.recent {
  .recent-post {
    margin: 0 15px;
    padding: 5px 0;
    list-style: none;
  }

  .recent-post-item {
    display: block;
    line-height: 1.6;
  }

  .recent-post-link {
    &:hover {
      color: #f75357;
    }
  }
}

.tagcloud {
  .tagcloud-wrapper {
    margin: 0 15px;
    padding: 5px 0;

    a {
      display: inline-block;
      line-height: 1.6;
      margin-right: 5px;
      word-wrap: break-word;
      transition-duration: 0.2s;
      transition-property: transform;
      transition-timing-function: ease-out;

      &:active,
      &:focus,
      &:hover {
        color: #f75357;
        transform: scale(1.1);
      }
    }
  }
}

.categories {
  .category-list {
    margin: 0 15px;
    padding: 5px 0;
    list-style: none;
  }

  .category-list-item {
    display: block;
    line-height: 1.6;
    position: relative;
  }

  .category-list-link {
    &:hover {
      color: #f75357;
    }
  }

  .category-list-count {
    font-size: .8em;
    color: #f75357;
    position: absolute;
    top: -3px;
    margin-left: 2px;
  }
}

.archives {
  .archive-list {
    margin: 0 15px;
    padding: 5px 0;
    list-style: none;
  }

  .archive-list-item {
    display: block;
    line-height: 1.6;
    position: relative;
  }

  .archive-list-link {
    &:hover {
      color: #f75357;
    }
  }

  .archive-list-count {
    font-size: .8em;
    color: #f75357;
    position: absolute;
    top: -3px;
    margin-left: 2px;
  }
}

.links {
  .link-list {
    margin: 0 15px;
    padding: 5px 0;
    list-style: none;
  }

  .link-list-item {
    display: block;
    line-height: 1.6;
    position: relative;
  }

  .link-list-link {
    &:hover {
      color: #f75357;
    }
  }
}
