.widget {
  background: #fff;
  margin-bottom: 20px;

 .widget-title {
   padding: 5px 0;
   margin: 0 15px;
   font-size: 16px;
   font-weight: 600;
   font-family: PingFang SC, Microsoft YaHei, STHeiti, sans-serif;
   color: #444;
   border-bottom: 1px solid #f1f1f1;
   text-transform: uppercase;
 }
}

.recent {
  .recent-post {
    margin: 0 15px;
    padding: 10px 0;
    list-style: none;
    font-size: 15px;
  }

  .post-item {
    display: block;
    line-height: 1.6;
  }

  .post-link {
    &:hover {
      color: #f75357;
    }
  }
}
