<div class="widget recent">
  <h3 class="widget-title"><%= __('widget.recent_post') %></h3>
  <ul class="recent-post">
    <% site.posts.sort('date', -1).limit(8).each(function (post) { %>
      <li class="post-item">
        <a class="post-link" href="<%- url_for(post.path) %>">
          <i class="fa fa-caret-right"></i>
          <%= post.title %>
        </a>
      </li>
    <% }) %>
  </ul>
</div>
