<% if (index) { %>
  <div class="container">
    <main class="main">
      <section class="article-list">
        <% page.posts.each(function (post) { %>
          <%- partial('article', { post: post, index: true }) %>         
        <% }) %>
      </section>
      <div class="paginator">
        <%- paginator({
          prev_text: "«",
          next_text: "»",
          show_all: true
        }) %>
      </div>
    </main>
    <%- partial('sidebar') %>
  </div>
<% } %>
