<div class="article-tags">
  <% post.tags.each(function (tag) { %>
    <a class="article-tag" href="<%- url_for(tag.path) %>">
      <i class="fa fa-tag"></i>
      <%= tag.name %>
    </a>
  <% }) %>
</div>
